.goodsTitle {
    display: flex;
    height: 100%;
}

.goodsItem {
    /* max-width: 1200px;
    min-width: 800px; */
    width: 900px;
    height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    border-radius: 15px;
    padding: 30px 50px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.goodsPhoto {
    display: flex;
    align-items: center;
    height: 100%;
    width: 120px;
}

.imgGoodsSmall {
    height: 80%;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.imgGoods {
    max-height: 700px;
    max-width: 1000px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.imgGoodsLoaded {
    opacity: 1;
}

.nameGoods {
    margin-left: 20px;
    font-size: 18px;
}

.nameGoods span {
    cursor: pointer;
}

.goodsBuyWrapper {
    display: flex;
    flex-direction: column;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: end;
    height: 40px;
}

.buyButton {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.buyButton:hover {
    background-color: orange;
    color: white;
}

.goCartBuyButton {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
    color: white;
    background-color: orange;
}

.goCartBuyButton:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}