.filterMenu {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.goodsElementsWrapper {
    width: 100%
}

.imgGoods {
    height: 50%;
    /* cursor: pointer; */
    opacity: 0;
    /* object-fit: cover; */
    transition: opacity .3s ease-in-out;
}

.imgGoodsLoaded {
    opacity: 1;
}

.titleNameImgModal {
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.aboutGoodsModal {
    display: flex;
}

.aboutGoodsModalImgWrapper {
    width: 300px;
    height: 300px;
}

.aboutGoodsModal img {
    height: 100%
}

.spectificationGoodsModal {
    margin-left: 50px;
    margin-right: 20px;
}

.specName {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.spectifications {
    margin-top: 20px;
}

.spectification {
    margin-bottom: 20px;
}

.title {
    font-weight: bold;
}

.body {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.bodyKey {
    width: 55%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    
}


.bodyValue {
    margin-left: 20px;
    width: 30%;
}

.loader {
    display: flex;
    align-content: center;
    justify-content: center;
}